@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

:root {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;
  font-synthesis: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}

form {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem;
  background: linear-gradient(135deg, #8a84e2, #84fab0);
  border-radius: 8px;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
}

.form-control,
fieldset {
  margin-bottom: 1rem;
}

.form-control label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  color: #ebe7ef;
  text-transform: uppercase;
  font-weight: bold;
}

.form-control input:not([type='checkbox']) {
  display: block;
  width: 100%;
  max-width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #d0adee;
  background-color: #ebe7ef;
  color: #142020;
}

.form-control select {
  display: block;
  width: 100%;
  max-width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #d0adee;
  background-color: #ebe7ef;
  color: #142020;
}


.form-control input[type='checkbox'] {
  margin-right: 0.5rem;
}

.form-control:has(input[type='checkbox']) {
  display: flex;
}
.form-control:has(input[type='checkbox']) label {
  margin: 0;
}


.form-control-error {
  color: #ffca99;
  font-size: 0.8rem;
  height: 2rem;
  padding: 0.5rem 0;
}

.form-control-error p {
  margin: 0;
}

.form-control-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: #ab78e1;
  border: 0.1rem solid #8364b0;
}

button:hover,
button:focus {
  color: white;
  background-color: #9359d1;
}

button.button-flat {
  background-color: transparent;
  color: #2f3a3a;
  border-color: #ab78e1;
}

button.button-flat:hover,
button.button-flat:focus {
  background-color: transparent;
  color: #232020;
  border-color: #9359d1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #e0e0e0;
    background-color: #121212;
  }
}
